{# Render the Novalnet transaction details #}
{% if transactionComments is not empty %}
<div class="row">
    <strong class="col-6 col-sm-5">{{trans("Novalnet::PaymentMethod.novalnet_details")}}</strong>
    <span class="col-6 col-sm-7">{{transactionComments|raw}}</span>

    {# Display the cashpayment button #}
    {% if cashpaymentToken is not empty and txStatus == 'PENDING' and services.template.isCurrentTemplate('tpl.confirmation') %}
    <button id="barzahlen_button" class="bz-checkout-btn" onclick="javascript:bzCheckout.display();">{{trans("Novalnet::PaymentMethod.barzahlen_token")}}</button>
    <style type="text/css">
        #bz-checkout-modal {position: fixed !important;}
        #barzahlen_button {width: max-content; margin-top: -30px !important; margin-bottom: 5% !important; margin-left: 20px !important;}
    </style>
    <script src="{{cashpaymentUrl}}"
            class="bz-checkout"
            data-token="{{cashpaymentToken}}"
            data-auto-display="true">
    </script>
    {% endif %}
    
    {# Display the Instalment summary #}
    {% if instalmentInfo is not empty and txStatus == 'CONFIRMED' %}
    <div class="col-12"><strong>{{trans("Novalnet::PaymentMethod.instalment_summary")}}</strong></div>
    <div class="col-12">       
        <table class="table table-striped table-hover table-sm nn_instalment_table">
            <thead>
              <tr>
                <th>{{trans("Novalnet::PaymentMethod.serial_no")}}</th>
                <th>{{trans("Novalnet::PaymentMethod.instalment_future_date")}}</th>
                <th>{{trans("Novalnet::PaymentMethod.novalnet_tid")}}</th>
                <th>Status</th>
                <th>{{trans("Novalnet::PaymentMethod.instalment_amount")}}</th>
              </tr>
            </thead>
            <tbody>
            {% for key, value in instalmentInfo %}
              <tr>
                <td>{{key}}</td>
                <td>{{value.future_instalment_date}}</td>
                <td>{{value.tid}}</td>
                <td>{{value.payment_status}}</td>
                <td>{{value.cycle_amount}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}
</div>
{% endif %}
